div .admin-main {

  color: white;

  .dashboard-panel {
    position: relative;
    padding: 20px;
    width: 320px;
    background-color: $background-tertiary;
  }

  span {
    display: block;
  }

  h2 {
    text-align: center;
  }

  .button {
    border: none;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 20px 0 0;
  }

  img {
    display: block;
    width: 100%;
  }
}
