.header {
	background: rgba($background-primary, 0.8);
	height: 128px;
	left: 0;
	position: fixed;
	top: 0;
	transition: transform 0.3s ease 0s;
	width: 100%;

	&.fixed {
		transform: translateY(-84px);
	}
}

.logo {
	background: transparent url("logo.png") no-repeat scroll center / cover;
	display: block;
	height: 37px;
	left: 30px;
	position: absolute;
	top: 20px;
	width: 77px;
}

.navigation-left {
	left: 0;
	position: absolute;
	top: 84px;
	width: 100%;

	@media (min-width: $break-large) {
		left: 140px;
		top: 20px;
		width: auto;
	}

	ul {
		list-style: none;
	}

	li {
		display: block;
		float: left;
		position: relative;
		width: 33%;

		@media (min-width: $break-large) {
			margin: 0 15px 0 0;
			width: auto;

			&:last-child {
				margin: 0;
			}
		}
	}

	a {
		color: rgba(white, 0.7);
		display: block;
		font-size: 20px;
		line-height: 44px;
		position: relative;
		text-align: center;
		text-decoration: none;
		transition: color 0.3s ease 0s;

		@media (min-width: $break-large) {
			padding: 0 15px;
		}

		&:hover {
			color: white;
		}

		&.current {
			color: $red;
		}
	}
}

.navigation-right {
	position: absolute;
	right: 30px;
	top: 20px;

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		position: relative;
	}

	a {
		color: rgba(white, 0.7);
		display: block;
		font-size: 20px;
		line-height: 44px;
		position: relative;
		text-align: center;
		text-decoration: none;
		transition: all 0.3s ease 0s;

		&.button {
			color: white;
			font-size: 16px;
		}

		&:hover {
			color: white;
		}
	}
}
