@mixin social-btn ($bgColor, $fntColor) {
  display: block;
  border: none;
  border-radius: 22px;
  width: 100%;
  height: 44px;
  font-size: 20px;
  margin: 20px auto;
  cursor: pointer;
  background-color: $bgColor;
  color: $fntColor;

  i {
    font-size: 20px;
  }
}

.btn-facebook,
.btn-facebook:hover {
  @include social-btn(#3b5998, #ffffff);
}

.btn-twitter {
  @include social-btn(#4099ff, #ffffff);
}

.btn-google {
  @include social-btn(#ffffff, #000000);
  border: 1px solid red;

  i:before {
    color: red;
  }
}
