@mixin social-btn ($bgColor, $fntColor) {
  display: block;
  border: none;
  border-radius: 22px;
  width: 75%;
  height: 44px;
  font-size: 20px;
  margin: 20px auto;
  cursor: pointer;
  background-color: $bgColor;
  color: $fntColor;
}

.btn-facebook,
.btn-facebook:hover {
  @include social-btn(#3b5998, #ffffff);
}

.btn-twitter {
  @include social-btn(#4099ff, #ffffff);
}

.btn-google {
  @include social-btn(#ffffff, #000000);
}
