.btn-facebook,
.btn-facebook:hover {
  background-color: #3b5998;
  color: #ffffff;
}

.btn-twitter {
  background-color: #4099ff;
  color: #ffffff;
}

.btn-google {
  background-color: #ffffff;
  border: 1px solid #000 !important;
}
