.profile {
    padding: 0;
    position: relative;
}
.profile-section {
    margin: 0 0 30px;
    position: relative;
    &:last-child {
        margin: 0;
    }
}
.profile-picture {
    margin: 0 0 30px;
    position: relative;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    img {
        display: block;
        height: auto;
        margin: 0 auto;
        position: relative;
        width: 200px;
        @media (min-width: $break-small) {
            margin: 0;
        }
    }
}
.profile-information {
    position: relative;

    @media (min-width: $break-small) {
        left: 300px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: $break-large) {
        width: 300px;
    }

    .roast-score {
        position: relative;
        top: 0;
    }

    span.membership {
      color: rgba(white, 0.8);
      display: block;
      margin-top: 30px;
    }

    .button {
      padding-left: 0;
    }
}
.profile-roasts {

  .roast {
    border: none;
    clear: left;

    .profile-roast-section {
      width: 100%;
      float: none;

      @media (min-width: $break-small) {
        width: 50%;
        float: left;
        margin-bottom: 20px;
      }

      .roast-image {
        max-height: 300px;
        margin: 0;
      }

      .image {
        background: transparent;

        @media (min-width: $break-small) {
          border-right: 1px solid $background-tertiary;
        }
      }

      .roast-comment-text {
        color: white;
        padding: 10px;
        margin: 0;
        overflow: scroll;

        @media (min-width: $break-small) {
          height: 300px;
        }

        span {
          display: block;
        }

        p {
          border-top: 1px solid $background-primary;
          padding-top: 5px;
          word-wrap: break-word;
        }
      }
    }
  }
}
