.profile {
    padding: 0;
    position: relative;
}
.profile-section {
    margin: 0 0 60px;
    position: relative;
    &:last-child {
        margin: 0;
    }
}
.profile-picture {
    margin: 0 0 30px;
    position: relative;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;

    img {
        display: block;
        height: auto;
        min-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        position: relative;

        @media (min-width: $break-small) {
            margin: 0;
        }
    }
}
.profile-information {
    position: relative;

    @media (min-width: $break-small) {
        left: 300px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: $break-large) {
        width: 300px;
    }

    .username {

      .username-input {
        margin-bottom: 30px;
        margin-right: 10px;
        position: relative;
        width: calc(100% - 34px);
        background: transparent;
        color: white;
        border: none;
        border-bottom: 2px solid transparent;
        outline: none;
        font-size: 28px;
        line-height: 34px;

        &:focus {
          border-bottom: 2px solid white;
        }
      }

      span {
        color: white;
        display: inline-block;
        font-size: 24px;
        cursor: pointer;
      }
    }

    .roast-score {
        position: relative;
        top: 0;
    }

    span.membership {
      color: rgba(white, 0.8);
      display: block;
      margin-top: 30px;
    }

    .button {
      padding-left: 0;
    }
}
.profile-roasts {

  .roast {
    border: none;
    margin-bottom: 30px;

    &:after {
      display: block;
      content: "";
      clear: both;
    }

    .profile-roast-section {
      width: 100%;
      float: none;

      @media (min-width: $break-small) {
        width: 50%;
        float: left;
        margin-bottom: 20px;
      }

      .roast-image {
        max-height: 300px;
        margin: 0;
      }

      .image {
        background: transparent;
      }

      .roast-comment-text {
        color: white;
        padding: 10px;
        margin: 0;
        overflow: auto;

        @media (min-width: $break-small) {
          height: 300px;
        }

        span {
          display: block;
        }

        p {
          padding-top: 5px;
          word-wrap: break-word;
        }
      }
    }
  }
}
