@import url("https://fonts.googleapis.com/css?family=Montserrat");
$background-primary: #1f1f1f;
$blue: #3498db;
$red: #f22613;
$break-small: 600px;
$break-large: 768px;

* {
	box-sizing: border-box;
	font:  {
		family: "Montserrat", sans-serif;
		weight: 400;
	}
	margin: 0;
	padding: 0;
}

body {
	background: $background-primary;
}

.wrapper {
	height: 100%;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;

	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.button {
	background: $blue;
	border-radius: 5px;
	color: white;
	display: block;
	font-size: 16px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
	width: 44px;

	&:hover {
		opacity: 0.7;
	}

	@media (min-width: $break-small) {
		padding: 0 15px 0 10px;
		width: auto;
	}

	&.mdi::before {
		font-size: 24px;
		position: relative;
		top: 3px;

		@media (min-width: $break-small) {
			margin: 0 10px 0 0;
		}
	}

	span {
		display: none;

		@media (min-width: $break-small) {
			display: inline-block;
		}
	}
}



/*

.badge {
	background: $red;
	border-radius: 50%;
	color: $white;
	font-family: $montserrat;
	font-size: 12px;
	font-weight: 400;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 20px;
}
*/

@import "module/header";
@import "module/content";
@import "module/loading";
@import "module/login";
@import "module/admin";
