@import url("https://fonts.googleapis.com/css?family=Montserrat");
$backgroundColor: #1f1f1f;
$black: #000000;
$white: #ffffff;
$lightBlue: #3498db;
$darkBlue: #2980b9;
$red: #f22613;
$montserrat: "Montserrat", sans-serif;
$transition: all 0.4s ease 0s;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: $backgroundColor;
}

.wrapper {
	height: 100%;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
	position: relative;

	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.button {
	background: $lightBlue;
	border-radius: 5px;
	color: $white;
	display: inline-block;
	font-family: $montserrat;
	font-size: 16px;
	font-weight: 400;
	height: 44px;
	line-height: 44px;
	padding: 0 20px;
	text-decoration: none;
	-webkit-transition: $transition;
	        transition: $transition;

	&:hover {
		background: $darkBlue;
	}
}

.badge {
	background: $red;
	border-radius: 50%;
	color: $white;
	font-family: $montserrat;
	font-size: 12px;
	font-weight: 400;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 20px;
}

.vertical-align {
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.horizontal-align {
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

@import "header";
